# Generic API endpoint (used by `instance`)
API_URL=http://localhost:3000

# Authentication API endpoint
AUTH_API_URL=https://dummyjson.com

# Inventory server endpoint
API_BASE_URL=http://localhost:3000
